@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
}

.text-outline-gray {
  -webkit-text-stroke-color: #333;
}
.cursor-none {
  cursor: none;
}

.transition-transform {
  transition: transform 0.1s ease-out;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
